%h2.ui.horizontal.divider
  %i.icon.code

.company-info
  %h3.ui.header.centered
    Work Betta Ltd is registered in England and Wales with company number 10168553

  %h3.ui.header.centered
    20-22 Wenlock Road, London, England, N1 7GU
