#desktop-menu.ui.secondary.pointing.menu.inverted
  .ui.text.container
    %a.item.toc
      %i.sidebar.icon
    %a.item.image.floated.right
      .ui.logo.icon.image{href: '/'}
        = image_tag 'wb-white.jpg'
    %a.item.name{href: '/', class: active('/', true)}
      %strong Work
      &nbsp;
      %em Betta
    %a.ui.inverted.item{href: "https://betta.io"}
      %i.icon.user
      About
    .ui.dropdown.item
      %i.icon.code
      Projects
      %i.icon.dropdown
      .menu
        - data.projects.each do |project|
          - next unless project.in_nav
          %a.item{href: project['url']}
            %i.icon{class: project['icon']}
            = project['title']
    .ui.right.item
      %a{ href: "mailto:work@betta.io", class: active('/blog')}
        %i.icon.mail.outline.left
        Contact
