#sidebar.ui.vertical.inverted.sidebar.menu
  .item
    %a.ui.logo.icon.image{href: '/'}
      = image_tag 'wb-white.jpg'
    %a.name{href: '/'}
      %strong Work
      Betta
  %a.item{href: "mailto:hello@hoopy.io"}
    %i.icon.mail.outline.left
    Contact
  %a.ui.right.inverted.item{href: "https://betta.io"}
    %i.icon.user
    About Cristiano
  %a.ui.right.inverted.item{href: "https://hoopy.io"}
    %i.icon.industry
    About Hoopy
