---
default_description: Work Betta
---

= image_tag 'workbetta.png', class: 'ui small circular image centered'

%h1.ui.header.centered.name.inverted
  %strong Work Betta Ltd
  specializes in
  %br
  Developer Relations consulting
  %br
  and Full Stack web development

%h2.ui.horizontal.divider Our services

#services.ui.horizontal.segments
  .ui.segment
    %h3.header Developer Relations
    %p
      We will help developer focussed technology companies to build out strategy
      for their developer marketing strategy. We will help lead technology teams to
      a path to ROI for their developer relations strategy.

  .ui.segment
    %h3.header Developer Experience
    %p
      We will help building out documentation, samples, tutorials and talks
      for developer products. We will assist in building the best tech teams to
      build the best developer experience.

  .ui.segment
    %h3.header API Development
    %p
      We will help your product off the ground, assisting in full stack web
      development including API design. We specialize in Rails, Ruby, Javascript, HTML,
      CSS and more.

%h2.ui.horizontal.divider
  Recent projects

.ui.relaxed.divided.list.inverted
  - data.projects.each do |project|
    .item
      %i.large.middle.aligned.icon.icon-fixed-width{class: project['icon']}
      .content
        %a.header{href: project['url']}= project['title']
        .description= project['description']

%h2.ui.horizontal.divider
  %i.icon.code

.company-info
  %h3.ui.header.centered
    Work Betta Ltd is registered in England and Wales with company number 10168553

  %h3.ui.header.centered
    20-22 Wenlock Road, London, England, N1 7GU
