---
default_description: Work Betta
---

%h4.ui.horizontal.divider

= image_tag 'workbetta.png', class: 'ui small circular image centered'

%h1.ui.header.centered.name.inverted
  %strong Work
  Betta

%p.centered
  Work Betta specializes in Developer Relations consulting and Full Stack web development.

%h5.ui.horizontal.divider Developer Relations

Work Betta can help developer focussed technology companies to build out strategy
for their developer marketing strategy. We can help lead technology teams to
a path to ROI for their developer relations strategy.

%h5.ui.horizontal.divider Developer Experience

Work Betta can help building out documentation, samples, tutorials and talks
for developer products. We can assist in building the best tech teams to
build the best developer experience.

%h5.ui.horizontal.divider Web API Development

Work Betta can help your product off the ground, assisting in full stack web
development including API design. We specialize in Rails, Ruby, Javascript, HTML,
CSS and more.

%h4.ui.horizontal.divider
  Recent projects

.ui.relaxed.divided.list.inverted
  .item
    %i.large.middle.aligned.icon.icon-fixed-width.code
    .content
      %a.header{href: 'https://github.com/nexmo-cli'} Nexmo CLI
      .description A CLI for the Nexmo communication API. Built in JS.
  .item
    %i.large.middle.aligned.icon.icon-fixed-width.code
    .content
      %a.header{href: 'https://getperksy.com/'} Perksy Backend
      .description A backend and API for the Perksy app
