---
default_description: Work Betta
---

= image_tag 'workbetta.png', class: 'ui small circular image centered'

%h1.ui.header.centered.name.inverted
  %strong Work Betta
  is now
  %br
  partnered with
  %strong
    %a{ href: 'https://hoopy.io' } Hoopy
  %br
  %br
  %a{ href: 'https://hoopy.io' }
    The Developer Relations Consultancy

%br
%br
%br

.ui.center.aligned.grid
  %a.ui.secondary.right.labeled.icon.basic.inverted.white.button{ href: '/blog/' }
    %i.icon.external
    Hoopy.io

%br
%br

= partial 'partials/footer'
