---
default_description: Work Betta
---

%h4.ui.horizontal.divider

= image_tag 'workbetta.png', class: 'ui small circular image centered'

%h1.ui.header.centered.name.inverted
  Work Betta specializes in Developer Relations consulting and Full Stack web development

%h2.ui.horizontal.divider Our services

#services.ui.horizontal.segments
  .ui.segment
    %h3.header Developer Relations
    %p
      We will help developer focussed technology companies to build out strategy
      for their developer marketing strategy. We will help lead technology teams to
      a path to ROI for their developer relations strategy.

  .ui.segment
    %h3.header Developer Experience
    %p
      We will help building out documentation, samples, tutorials and talks
      for developer products. We will assist in building the best tech teams to
      build the best developer experience.

  .ui.segment
    %h3.header API Development
    %p
      We will help your product off the ground, assisting in full stack web
      development including API design. We specialize in Rails, Ruby, Javascript, HTML,
      CSS and more.

%h2.ui.horizontal.divider
  Recent projects

.ui.relaxed.divided.list.inverted
  .item
    %i.large.middle.aligned.icon.icon-fixed-width.github
    .content
      %a.header{href: 'https://github.com/nexmo-cli'} Nexmo CLI
      .description A CLI for the Nexmo communication API. Built in JS.
  .item
    %i.large.middle.aligned.icon.icon-fixed-width.github
    .content
      %a.header{href: 'https://github.com/cbetta/doxie'} Doxie Ruby SDK
      .description A Ruby SDK for the Doxie Go Wifi scanner.
  .item
    %i.large.middle.aligned.icon.icon-fixed-width.linkify
    .content
      %a.header{href: 'http://www.getperksy.com/'} Perksy Backend
      .description A Rails backend and API for the Perksy app. Built using Trailblazer.

%h2.ui.horizontal.divider
  %i.icon.code
