body.pushable > .pusher {
  background-color: #222;
  color: white;
}

a,
.ui.list .list > .item a.header,
.ui.list > .item a.header,
.ui.inverted.list .item a:not(.ui):hover {
  color: #fff !important;
}
