h1.horizontal.divider {
  margin-bottom: 1em;
  font-size: 1.3em;
}

h2.horizontal.divider {
  margin-top: 4em;
  color: white;
}

h2.horizontal.divider:last-child {
  margin-top: 0;
  margin-bottom: 4em;
}

.company-info {
  h3.ui {
    margin-bottom: 0.5em;
    color: #444;
    font-size: 0.8em;
  }

  h3.ui:last-child {
    margin-top: 0em;
    margin-bottom: 4em;
  }

  &:hover {
    h3 {
      color: #aaa;
    }
  }
}


@media (min-width: 660px) {
  .ui.small.circular.image.centered {
    margin-top: 4em;
  }
}
