@font-face {
    font-family: 'exobold';
    src: url('/fonts/exo-bold-webfont.woff2') format('woff2'),
         url('/fonts/exo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exoregular';
    src: url('/fonts/exo-regular-webfont.woff2') format('woff2'),
         url('/fonts/exo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exolight';
    src: url('/fonts/exo-light-webfont.woff2') format('woff2'),
         url('/fonts/exo-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exothin';
    src: url('/fonts/exo-thin-webfont.woff2') format('woff2'),
         url('/fonts/exo-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.name {
  font-family: 'exothin', "Lucida Console", Monaco, monospace !important;
  font-weight: bold;
}

.name em {
  font-family: 'exoregular', "Lucida Console", Monaco, monospace;
  font-weight: bold;
  font-style: normal;
}

.name strong {
  font-family: 'exobold', "Lucida Console", Monaco, monospace;
  font-weight: bold;
}
