#desktop-menu {
  border-bottom: 0px;

  .item {
    &.toc, &.image {
      display: none;
    }

    &.name {
      position: relative;
      top: 1px;
    }

    &.image {
      img {
        width: 24px;
        border-radius: 12px;
      }
    }
  }
}

h1.header.centered {
  margin-top: 2em;
}

@media (max-width: 660px) {
  #desktop-menu {
    .item, .menu {
      display: none;
    }

    .toc.item, .image.item {
      display: block;
    }
  }

}
